{% extends "base.html" %}
{% block title %}Hex{% endblock %}

{% block content%}
<h1 align="left">Number</h1>

{% if submitted == True %}
<div class="container">
    {% print(number) %}
</div>
<br/>
{% endif %}

<form method="POST">
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="number"
                name="number"
                placeholder="Enter the number"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
