{% extends "base.html" %}
{% block title %}Hex{% endblock %}

{% block content%}
<h1 align="left">Hex</h1>

{% if content %}
<div class="container">
    <ul class="list-group list-group-flush" id="numbers">
        {% for item in content %}
        <li class="list-group-item">
            {{ item }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="POST">
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="number"
                name="number"
                placeholder="Enter the number"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
