{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<h1>Home</h1>

<div class="container">
GitHub: <a href="https://github.com/zdenek-nemec/hex">https://github.com/zdenek-nemec/hex</a>
</div>

<div class="container">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin mattis lacinia justo. Mauris dictum facilisis augue. Fusce consectetuer risus a nunc. Vestibulum fermentum tortor id mi. Mauris tincidunt sem sed arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sollicitudin. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Phasellus faucibus molestie nisl. Praesent in mauris eu tortor porttitor accumsan. Nunc auctor. In rutrum. Pellentesque arcu. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Integer tempor.
</div>

<div class="container">
Nam sed tellus id magna elementum tincidunt. Integer in sapien. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. In convallis. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Fusce wisi. Praesent vitae arcu tempor neque lacinia pretium. Maecenas lorem. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. In enim a arcu imperdiet malesuada. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
</div>

{% endblock %}
