{% extends "base.html" %}
{% block title %}Numbers{% endblock %}

{% block content%}
<h1>Numbers</h1>

<div class="container">
Number conversion.<br>
Accepted inputs:
<ul>
    <li>Positive integer values: 0, 3, 127, ...</li>
</ul>
</div>

<h2>Input</h2>

<form method="POST">
    <div class="input-group">
        <input
                type="text"
                class="form-control"
                id="number"
                name="number"
                placeholder="Enter the number"
        />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<h2>Result</h2>

{% if content %}
<div class="container">
    {% for item in content %}
    <pre>{{ item }}</pre>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
