{% extends "base.html" %}
{% block title %}ULI{% endblock %}

{% block content%}
This is ULI page

<h1 align="center">User Location Information</h1>

{% if submitted == True %}
<div class="container">
    {% print(formatted_uli) %}
    <br/>

<ul class="list-group list-group-flush" id="details">
    {% for detail in details %}
    <li class="list-group-item">
        {{ detail }}
    </li>
    {% endfor %}
</ul>

</div>
<br/>
{% endif %}

<form method="POST">
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="uli"
                name="uli"
                placeholder="Enter the ULI"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
